[cmp="InputNumberRange"] {
  .inputs-container {
    display: flex;
    gap: 64px;
    padding-top: 8px;
  
    @include breakpoint(tab-down) {
      flex-direction: column;
      gap: 16px;
    }

    >*:not(legend) {
      width: 100%;
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    //margin-bottom: 10px; //BUG investigate why this doesn't need margin like the others

    &:after {
      content: '';
      display: inline-block;
      flex-grow: 1;
      //height: 1px;
      //background-color: white;
      height: 0;
      border-top: solid white 1px;
    }
  }
}